<h1>Stupid Coaching</h1>
<div id="ask">
  <p><strong><%= @ask %></strong></p>
  <p><i>-You</i></p>
</div>
<div id="answer">
  <p><strong><%= @answer %></strong></p>
  <p><i>-Your Coach</i></p>
</div>
<button id="bouton"><%= link_to "Ask a new question", ask_path%></button>
